<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <link href="//db.onlinewebfonts.com/c/a79f5235c6ec712afe64037d3cd0efe7?family=CopperPot" rel="stylesheet" type="text/css"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <title>Arbor Recipe</title>
        <meta name="Arbor Recipes: Ann Arbor Cooking Assistant" content="">
        <meta name="481 CSEChefs" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="">
    </head>
    <body>
        <div class="bg"></div>
        <div id="header">
            <div id="logo1" >
                <img id="logo" src ="static/images/logo.png" width="120" alt="recipe icon" ></img>
            </div>
        </div>
        <br>
        <br>
        <div id="reactEntry">
            Loading ...
          </div>
          <!-- Load JavaScript -->
          <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}" class="center"></script>
    </body>
</html>
